body {
    font-family: Arial, sans-serif;
    background-color: #a5f09b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

h1 {
    margin-bottom: 1em;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 1em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    resize: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #0e9409;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0e9409   ;
}

#resultText {
    background-color: #f9f9f9;
}